<div data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">



    <div class="top-nav" id="home">
        <div class="container">
            <div class="row justify-content-between">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            
            <a class="navbar-brand" ><img src="../../assets/img/clock.png" style="width:5%; height: 5%;"> Vérificateur prix<span class="dot">.</span></a>
            <input #code_ref type="text" id="code" name="code" [(ngModel)]="code" (keyup)="test($event)" autofocus  >
            <div class="collapse navbar-collapse" id="navbarNav">
               
             >
            </div>
        </div>
    </nav>

 
    <div class="owl-carousel owl-theme hero-slider">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h6 class="text-white text-uppercase">verifier le PRIX </h6>
                        <h1 class="display-3 my-4">Scanner <br />votre produit</h1>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 text-white">
                        <h6 class="text-white text-uppercase">verifier le PRIX</h6>
                        <h1 class="display-3 my-4">Scanner vote produit  </h1>
                 
                    </div>
                </div>
            </div>
        </div>
      
    </div>

        
  
   
</div>

