<div class="wrapper fadeInDown">
    <div id="bg"></div>
    <div id="formContent">
     
   
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/img/uu.jpg" id="icon" alt="User Icon"  />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="goto()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">

        <a class="underlineHover" href="#">conecté with clé</a>
      </div>
  
    </div>
  </div>